@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "flowbite";
.active {
  @apply bg-[#fac337] rounded-lg text-white;
}
body {
  font-family: "Cairo", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 99999s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
  caret-color: black;
}
